:root{
    --text-color: #111111;
    --filters-color: #757575;
    --not-available-bg: rgb(247, 247, 247);
    --not-available-text: rgb(221, 221, 221);
    --announcement-color: #FA5900;
    --section-color: #E5E5E5;
}

html, body, section, figure, button{
    font-family: Helvetica, Arial;
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:none;
}

html, section, div{
    scroll-behavior: smooth;
}

h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

p{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

#detail h1{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
}

#detail h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

#detail main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 20px auto;
}

#detail main > section:first-of-type{
    width: calc(100% - 500px);
    margin-right: 20px;
}

#detail main > section:first-of-type > div{
    display: flex;
    flex-wrap: wrap;
}

#detail main > section:first-of-type > div > figure{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    width: 50%;
}

#detail main > section:first-of-type > div > figure > img{
    display: block;
    float: left;
    flex: 0 0 auto;
    width: 100%;
}

#detail main > section:nth-of-type(2){
    padding: 0 10px 10px;
    margin-left: 20px;
    width: 456px;
}

#detail main > section:nth-of-type(2) > section:first-child{
    display: flex;
}

#detail main > section:nth-of-type(2) > section{
    margin-bottom: 30px;
    gap: 10px;
}

#detail main > section:nth-of-type(2) > section:nth-of-type(2) span{
    display: block;
    margin: 30px 0 10px;
}

#detail main > section:nth-of-type(2) > section > div{
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
}

#detail main > section:nth-of-type(2) > section:first-of-type > section:first-child{
    max-width: 300px;
}

#detail main > section:nth-of-type(2) > section:first-of-type > section:last-child{
    margin-top: 20px;
}

#detail main > section:nth-of-type(2) > section:nth-of-type(2) a{
    width: auto;
}

#detail main > section:nth-of-type(2) > section:nth-of-type(2) a img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#detail main > section:nth-of-type(2) > section:nth-of-type(2) a img.empty{
    cursor: initial;
    filter: contrast(0.5);
}

#detail main > section:nth-of-type(2) > section:nth-of-type(2) a.active img{
    border: 1px solid black;
}

#detail main > section:nth-of-type(2) > section:nth-of-type(3){
    display: block;
}

#detail main > section:nth-of-type(2) > section:nth-of-type(3) > div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
    margin-top: 10px;
}

#detail main > section:nth-of-type(2) > section:nth-of-type(3) > div > button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* width: calc(100% / 3 - 20px); */
    height: 48px;
    border-radius: 5px;
    background-color: white;
    border:none;
    box-shadow: rgb(229 229 229) 0px 0px 0px 1px;
    font-size: 16px;
}

#detail main > section:nth-of-type(2) > section:nth-of-type(3) > div > button.empty{
    cursor: initial;
    background-color: var(--not-available-bg);
    color: var(--not-available-text);
}

#detail main > section:nth-of-type(2) > section:nth-of-type(3) > div > button.active{
    border: 1px solid black;
}

#detail main > section:nth-of-type(2) > section:nth-of-type(4){
    display: block;
    text-align: center;
}

#detail main > section:nth-of-type(2) > section:nth-of-type(4) > button{
    width: 80%;
    margin-bottom: 10px;
    padding: 18px 24px;
    border-radius: 30px;
    background-color: white;
    font-size: 14px;
    box-shadow: rgb(229 229 229) 0px 0px 0px 1px;
}

#detail main > section:nth-of-type(2) > section:nth-of-type(4) > button.primary{
    width: 100%;
    font-size: 16px;
    background-color: black;
    color: white;
}

#detail main > section:nth-of-type(3)::-webkit-scrollbar{
    display: none;
}

#detail main > section:nth-of-type(3){
    position: relative;
    margin-top: 30px;
    padding: 0 10px;
    overflow-x: scroll;
}

#detail main > section:nth-of-type(3) > div::-webkit-scrollbar{
    display: none;
}

#detail main > section:nth-of-type(3) > div{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    cursor: grab;
}

#detail main > section:nth-of-type(3) > div > figure{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 30px;
    width: 300px;
}

#detail main > section:nth-of-type(3) > div > figure > img{
    display: block;
    float: left;
    flex: 0 0 auto;
    width: 300px;
}

#detail main > section:nth-of-type(3) > div > figure > section{
    margin: 10px 0 20px; 
}

#detail main > section:nth-of-type(3) > div > figure > section > span{
    margin: 10px 0; 
}

#detail main > section:nth-of-type(3) > div > figure > section > span:last-child{
    color: var(--filters-color);
}

#controls span{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateX(-50%); 
    padding: 5px 10px;
    background-color: transparent;
    background-color: white;
    opacity: 0.3;
    border-radius: 5px;
    filter:drop-shadow(2px 2px 10px black);
    transition: opacity .3s;
}

#controls span:hover{
    opacity: 1;
}

#controls span:first-child{
    left: 45px;
}

#controls span:last-child{
    right: -5px;
}

#mobile-heading{
    display: none;
}


aside#cart-popup{
    opacity: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    padding: 20px;
    transition: height 1s ease-in-out;
    border: 1px solid black;
    background-color: white;
    transition: top .3s ease-out, opacity .3s ease-out;
}

aside#cart-popup.show{
    opacity: 1;
    transition: top .3s ease-out, opacity .3s ease-out;
}

aside#cart-popup > button.close{
    cursor: pointer;
    float: right;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

aside#cart-popup > section{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

aside#cart-popup > section > img{
    position: relative;
    width: 25%;
    margin-right: 20px;
}

aside#cart-popup > section > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

aside#cart-popup > section > div > span:nth-of-type(2), aside#cart-popup > section > div > span:nth-of-type(3){
    color: var(--filters-color);
}

aside#cart-popup > section.buttons > button{
    margin-bottom: 10px;
    padding: 18px 24px;
    border-radius: 30px;
    background-color: white;
    font-size: 14px;
    box-shadow: rgb(229 229 229) 0px 0px 0px 1px;
}

aside#cart-popup > section.buttons > button.primary{
    font-size: 16px;
    background-color: black;
    color: white;
}

@media screen and (max-width: 1023px) {

    #mobile-heading{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 10px;
    }

    #mobile-heading > section{
        max-width: 75%;
    }

    #mobile-heading h1, #mobile-heading h2{
        margin: 10px 0;
    }

    #controls, #desktop-heading{
        display: none !important;
    }

    #detail main{
        padding: 10px;
    }

    #detail main > section:nth-of-type(2){
        width: 100%;
        margin: 0;
    }

    #detail main {
        display: block;
    }
    
    #detail main > section:first-of-type{
        position: relative;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100%;
    }

    #detail main > section:first-of-type > figure > img{
        width: 100%;
    }

    #detail main > section:first-of-type > div > figure > img{
        width: 100%;
    }
}

@media screen and (max-width: 424px){

    #detail main > section:first-of-type > div{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    
    #detail main > section:first-of-type > div > figure{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-shrink: 0;
        width: 100%;
        margin-right: 20px;
    }

    #detail main > section:first-of-type > div > figure > img{
        display: block;
        float: left;
        width: 100%;
    }

    #detail main > section:nth-of-type(3) > div > figure, 
    #detail main > section:nth-of-type(3) > div > figure > img{
        width: 100%;
        flex-shrink: 0;
    }
}
/* overviewpagina */

#overview a {
    color: black;
    text-decoration: none;
}

nav.joinus-signin {
    background-color: lightgrey;
}

.joinus-signin ul {
    font-family: 'PT Sans Narrow', sans-serif;
    display: flex; 
    margin: 0;
}
  
.joinus-signin li {
    list-style-type: none;
  }
  
.joinus-signin a {
    padding-right: 1em;
    padding-left: 1em;
    border-right-style: solid;
    border-right-width: 1px;
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: .8em;
    color: black;
}

.header {
    display: flex;
    margin-top: 1em;
}


header button {
    border: none;
    background-color: transparent;
    outline: none;
    position: relative;
}
  
header button img {
    width: 30px;
    height: 30px;
}
  
.header ul:first-of-type {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.header ul li {
    padding: 1em;
    list-style: none;
    text-align: center;
}
  
header a .logo {
    width: 75px;
    height: 55px;
    align-items: left;
    margin-left: 2em;
}
  
  
.search-icon {
    position: absolute;
    right: 8em;
}

.wishlist-icon {
    position: absolute;
    right: 5em;
}

#overview .shopping-bag-icon {
    position: absolute;
    right: 2em;
}

#overview main {
    display:grid;
    grid-template-columns: 15em 1fr;
}

/* filter */

.categories {
    padding-inline-start: .7em;
}

.categories li {
    margin-bottom: 1em;
    font-weight: 400;
}

ul.categories, ul.geslacht, ul.prijs, .size {
    border-bottom: solid black 1px;
    padding-bottom: 1em;
}

.filter h3 {
    font-size: 16px;
    font-weight: 550;
}

.filter {
    margin-left: 1em;
    margin-right: 1em;
}

.filter ul li {
    list-style: none;
}

ul.geslacht {
    padding-inline-start: .1em;
    align-content: right;
}

ul.prijs {
    padding-inline-start: .1em;
    align-content: right;
}

input[type=checkbox] + label{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: black;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid black;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.2em;
    margin-right: .5em;
    margin-bottom: .5em;
    vertical-align: center;
    color: transparent;
    transition: .1s;

}

input[type=checkbox] + label:active:before {
    transform: scale(0.5s);
}

input[type=checkbox]:checked + label:before {
    background-color: black;
    border-color: black;
    color: white;
}

.size {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#overview .size button {
    background-color: white;
    margin: .5em;
    text-align: center;
    border:none;
    box-shadow: rgb(229 229 229) 0px 0px 0px 1px;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    width: 60px;
}

#overview .size button.active {
    box-shadow: black 0px 0px 0px 2px;
    font-weight: 700;
}

#overview .kleur ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-inline-start: .7em;
}

#overview .kleur li {
    font-size: 12px;
}

#overview .kleur button {
    background-color: white;
    margin: .5em;
    border:none;
    box-shadow: rgb(229 229 229) 0px 0px 0px 1px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
}

#overview button.kleurzwart {
    background-color: black;
}

button.kleurgroen {
    background-color: green;
}

button.kleurblauw {
    background-color: blue;
}

#overview button.kleurbruin {
    background-color: brown;
}

#overview button.kleurgrijs {
    background-color: grey;
}

#overview button.kleuroranje {
    background-color: orange;
}

#overview button.kleurrood {
    background-color: red;
}

#overview .mainsneakers img {
    width: 100%;
    height: 80%;
}

#overview .mainsneakers  {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1.75em;
    margin-top: 0;
    row-gap: 15px;
}

#overview article {
    position: relative;
    text-align: left;
    height: 35em;
}

#overview article p:first-of-type {
    color: red;
}
  
#overview h2 {
    font-size: 1.7em;
    margin-top: .2em;
    padding-right: 1em;
    font-weight: normal;
    margin-bottom: .4em;
}

article p {
    margin-bottom: 0;
    line-height: 1em;
}

/* footer */

footer {
    background-color: black;
    color: #919191;
    font-size: 1em;
    bottom: 0;
    display: grid;
}

#overview footer a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    border-bottom: none;
}

footer form {
    position: absolute;
    right: 0;
    margin-right: 4.5em;
    margin-top: 2em;
}
  
footer form input {
    width: 300px;
    height: 55px;
    background-color: white;
    padding-left: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1em;
    margin-top: .5em;
    outline: none;
    border-radius: 5em;
   
}
  
#overview footer form input::placeholder {
    color: black;
}
  
#overview footer form button {
    display: none;
}

#overview #customer-service {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
  
#overview #customer-service li {
    list-style-type: none;
    margin-top: .5em;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1em;
    line-height: 25px;
}

.social-media {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 6em;
    margin-top: 8em;
}
  
.social-media li{
    list-style-type: none;
    padding: .7em;
}
  
.social-media li img {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    padding: .5em;
}

