:root{
    --text-color: #111111;
    --filters-color: #757575;
    --announcement-color: #FA5900;
    --section-color: #E5E5E5;
}

html, body{
    font-family: Helvetica, Arial;
    color: var(--text-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

p{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

/* overviewpagina */

a {
    color: black;
    text-decoration: none;
}

nav.joinus-signin {
    background-color: lightgrey;
    width: 100%;
    position: relative;
}
.joinus-signin ul {
    font-family: 'PT Sans Narrow', sans-serif;
    display: flex; 
}
  
.joinus-signin li {
    list-style-type: none;
  }
  
.joinus-signin a {
    padding-right: 1em;
    padding-left: 1em;
    border-right-style: solid;
    border-right-width: 1px;
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: .8em;
    color: black;
}

.header {
    display: flex;
}


header button {
    border: none;
    background-color: transparent;
    outline: none;
    position: relative;
}
  
header button img {
    width: 40px;
    height: 40px;
}
  
.header ul:first-of-type {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.header ul li {
    padding: 1em;
    list-style: none;
    text-align: center;
}
  
header a .logo {
    width: 75px;
    height: 55px;
    align-items: left;
    margin-left: 2em;
}
  
  
.search-icon {
    position: absolute;
    right: 8em;
}

.wishlist-icon {
    position: absolute;
    right: 5em;
}

.shopping-bag-icon {
    position: absolute;
    right: 2em;
}

main {
    display:grid;
    grid-template-columns: 15em 1fr;
}

/* filter */

.filter {
    margin-left: 1em;
    margin-right: 1em;
}
.filter ul li {
    list-style: none;
}

.size {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.5em;
}

.size button {
    background-color: white;
    margin: .5em;
    text-align: center;
    border:none;
    box-shadow: rgb(229 229 229) 0px 0px 0px 1px;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    width: 60px;
}

.kleur ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
}

.kleur li {
    font-size: 12px;
}

.kleur button {
    background-color: white;
    margin: .5em;
    border:none;
    box-shadow: rgb(229 229 229) 0px 0px 0px 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

button.kleurzwart {
    background-color: black;
}

button.kleurblauw {
    background-color: blue;
}

button.kleurbruin {
    background-color: brown;
}

button.kleurgrijs {
    background-color: grey;
}

button.kleuroranje {
    background-color: orange;
}

button.kleurrood {
    background-color: red;
}

button.kleurwit {
    background-color: white;
}
    


.mainsneakers img {
    width: 100%;
}

.mainsneakers  {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1.75em;
}

article {
    position: relative;
    text-align: left;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 3em;
}

article p:first-of-type {
    color: red;
}
  
h2 {
    font-size: 1.7em;
    margin-top: .2em;
    padding-right: 1em;
    font-weight: normal;
    margin-bottom: .4em;
}

footer {
    background-color: black;
    color: #919191;
    font-size: 1em;
    bottom: 0;
}

footer a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    border-bottom: none;
}

footer h5 {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    letter-spacing: 1.6px;
}

footer form {
    display: flex;
}
  
footer form input {
    width: 350px;
    height: 62px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1em;
    margin-top: .5em;
    outline: none;
    border-radius: 5em;
}
  
footer form input::placeholder {
    color: black;
}
  
footer form button {
    display: none;
}

#customer-service {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
  
#customer-service li {
    list-style-type: none;
    margin-top: .5em;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1em;
    line-height: 25px;
}


#social-media ul {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 3em;
}
  
#social-media li{
    list-style-type: none;
    padding: .7em;
}
  
#social-media li img {
    width: 23px;
    height: 23px;
}
